body {
    font-family:'Raleway', sans-serif;
    font-size: 1em;
    margin: 0%;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    background-color: #c80000;
    color: #ffffff;
    position: sticky;
    top:0;
}

@media all and (max-width: 1024px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
    }
}

.header__navbar {
    justify-self: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

@media all and (max-width: 1024px) {
    nav ul {
        flex-direction: column;
        gap: 7px;
        }
}

ul li {
    border: solid 1px #ffffff;
    border-radius: 5px; 
    padding: 5px;
    transition: 1s ease-in-out;
}

ul li:hover {
    background-color: #666;
}

ul li >a {
    text-decoration: none;
    color: #ffffff;
}

 strong {
    font-weight: 700;
    font-size: 2.3em;
    align-self: center;
    padding-left: 20px;
 }

.header-subtitle{
    grid-column-start: span 2;
    text-align: center;
    background-color: #666;
    color: #ffffff;
    padding: 10px;
}

@media all and (max-width: 1024px) {
    .header-subtitle {
        padding: 25px;
        }
}


.header-subtitle-2 {
    font-style: italic;
    font-size: 1.1em;
}


.item-1 {
    padding-top: 15px;
}

.nombre-de-produits {
    font-style: italic;
    font-size: 1.1em;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
}

.container-table {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

h2 {
text-align: center;
margin-bottom: 50px;
}

.form {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.titre-formulaire {
    font-weight: 700;
    font-size: 1.3em;
}

fieldset {
    border: none;
}

.votre-panier {
    font-weight: 700;
    font-size: 1.3em;

}

legend {
    font-size: 1em;
    color: #666;
    font-weight: 700;
}

hr {
    color: #F8F8F8;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adresse>input {
    background-color: #F8F8F8;
    border: none;
    border-bottom: 0.9px solid #c2bfbf;
    width: 100%;
}

.section-more-info>label {
    display: block;
}

textarea {
    background-color: #F8F8F8;
    border: none;
    border-bottom: 0.9px solid #c2bfbf;
    width: 100%;
}

.reglement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    height: 50px;
    box-shadow: 5px 5px 8px 0px gray;
    padding: 8px 20px;
    border-radius: 7px;
}

.reglement-prix {
    font-weight: 700;
    color: #c80000;
    font-size: 1.3em;
    justify-self: end;
    
}

.continuer-achat {
    display: grid;
    grid-template-columns:50% 50%;
    gap: 20px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
   
}

.continuer-achat-continuer {
    background-color:#EFEFEF;
    text-align: center;
    border: none;
    border-radius: 7px;
    color:#000000;
    font-weight: 700;
    width: 150px;
    height: 50px;
}

.continuer-achat-continuer>a {
    text-decoration: none;
    color:#000000;
}

.continuer-achat-valider {
    background-color:#C80000;
    text-align: center;
    border:none;
    border-radius: 7px;
    font-weight: 700;
    width: 150px;
    height: 50px;   
}

.continuer-achat-valider>a {
    text-decoration: none;
    color:#ffffff;
}

.container-table {
    width: 100%;
    margin-bottom: 20px;
}

.panier-table {
    width: 550px;
    text-align: center;
    line-height: 30px;
}

tbody tr:nth-child(even) {
    background-color:#EFEFEF; ;
}

th {
    width: 33%;
}

.panier-table-input {
    width: 25px;
    height: 10px;
}

.panier-table-supprimer {
    color: #C80000;
    font-size: 0.8em;
    text-decoration: underline;
}

.panier-table-total {
    font-weight: 700;
}

footer {
    background-color:#666;
    color: #ffffff;
    width: 100%;
    height: 30px;
    text-align: center;
}